<a href="https://colab.research.google.com/github/OmneyaEssam/Arabic-Dialects-Classification/blob/main/00_RetrieveData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import requests
import json

In [ ]:
df = pd.read_csv("dialect_dataset.csv")
df

                         id dialect
0       1175358310087892992      IQ
1       1175416117793349632      IQ
2       1175450108898565888      IQ
3       1175471073770573824      IQ
4       1175496913145217024      IQ
...                     ...     ...
458192  1019484980282580992      BH
458193  1021083283709407232      BH
458194  1017477537889431552      BH
458195  1022430374696239232      BH
458196  1022409931029458944      BH

[458197 rows x 2 columns]

In [ ]:
data = list(df['id'])
len(data)

458197

In [ ]:
data_string = map(str, data)

In [ ]:
data_list = list(data_string)
data_list

In [ ]:
len(data_list)

458197

# Dividing the list of ids into a list of lists,each list contains 500 ids

In [ ]:
def divide_chunks(l, n):
      
    # looping till length l
    for i in range(0, len(l), n): 
        yield l[i:i + n]

In [ ]:
n = 500
x = list(divide_chunks(data_list, n))
print(x)

In [ ]:
api_address = "https://recruitment.aimtechnologies.co/ai-tasks"
text_data = {}
for l in x:
    response = requests.post(api_address, json=l)
    text_data.update(response.json())

In [ ]:
len(text_data)

458197

In [ ]:
text_df = pd.DataFrame(text_data.items(), columns=['id','Text'])
text_df

                         id                                               Text
0       1175358310087892992   @Nw8ieJUwaCAAreT لكن بالنهاية .. ينتفض .. يغير .
1       1175416117793349632  @7zNqXP0yrODdRjK يعني هذا محسوب على البشر .. ح...
2       1175450108898565888                    @KanaanRema مبين من كلامه خليجي
3       1175471073770573824         @HAIDER76128900 يسلملي مرورك وروحك الحلوه💐
4       1175496913145217024                 @hmo2406 وين هل الغيبه  اخ محمد 🌸🌺
...                     ...                                                ...
458192  1019484980282580992              @Al_mhbaa_7 مبسوطين منك اللي باسطانا😅
458193  1021083283709407232       @Zzainabali @P_ameerah والله ماينده ابش يختي
458194  1017477537889431552  @Al_mhbaa_7 شو عملنا لك حنا تهربي مننا احنا مس...
458195  1022430374696239232        @haneenalmwla الله يبارك فيها وبالعافيه 😋😋😋
458196  1022409931029458944          @jolnar121 السحله ضيفي ي بتطلع لك سحليه😅😅

[458197 rows x 2 columns]

In [ ]:
text_df['id'] = pd.to_numeric(text_df['id'])

### Merging both dataframes on IDs

In [ ]:
all_data = pd.merge(df, text_df, on='id')
all_data

,id,dialect,Text
0,1175358310087892992,IQ,@Nw8ieJUwaCAAreT لكن بالنهاية .. ينتفض .. يغير .
1,1175416117793349632,IQ,@7zNqXP0yrODdRjK يعني هذا محسوب على البشر .. ح...
2,1175450108898565888,IQ,@KanaanRema مبين من كلامه خليجي
3,1175471073770573824,IQ,@HAIDER76128900 يسلملي مرورك وروحك الحلوه💐
4,1175496913145217024,IQ,@hmo2406 وين هل الغيبه اخ محمد 🌸🌺
...,...,...,...
458192,1019484980282580992,BH,@Al_mhbaa_7 مبسوطين منك اللي باسطانا😅
458193,1021083283709407232,BH,@Zzainabali @P_ameerah والله ماينده ابش يختي
458194,1017477537889431552,BH,@Al_mhbaa_7 شو عملنا لك حنا تهربي مننا احنا مس...
458195,1022430374696239232,BH,@haneenalmwla الله يبارك فيها وبالعافيه 😋😋😋
458196,1022409931029458944,BH,@jolnar121 السحله ضيفي ي بتطلع لك سحليه😅😅

In [ ]:
all_data.to_csv("new_dialect_dataset.csv")