<a href="https://colab.research.google.com/github/OmneyaEssam/Arabic-Dialects-Classification/blob/main/01_PreprocessData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import re
import emoji
import nltk
import pandas as pd
nltk.download('stopwords')
nltk.download('punkt')
stop=nltk.corpus.stopwords.words('arabic')

[nltk_data] Downloading package stopwords to C:\Users\Omneya
[nltk_data]     Essam\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to C:\Users\Omneya
[nltk_data]     Essam\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [ ]:
df = pd.read_csv("new_dialect_dataset.csv")
df.head()

,Unnamed: 0,id,dialect,Text
0,0,1175358310087892992,IQ,@Nw8ieJUwaCAAreT لكن بالنهاية .. ينتفض .. يغير .
1,1,1175416117793349632,IQ,@7zNqXP0yrODdRjK يعني هذا محسوب على البشر .. ح...
2,2,1175450108898565888,IQ,@KanaanRema مبين من كلامه خليجي
3,3,1175471073770573824,IQ,@HAIDER76128900 يسلملي مرورك وروحك الحلوه💐
4,4,1175496913145217024,IQ,@hmo2406 وين هل الغيبه اخ محمد 🌸🌺

In [ ]:
def textCleaning(text):
    new_text = re.sub(emoji.get_emoji_regexp(),r"",text) #remove emojis
    new_text = re.sub('@[^\s]+','',new_text) #remove usernames and handlers
    new_text = re.sub(r'http\S+', '',  new_text) #remove links
    new_text = re.sub(r'[^ء-ي| ]', '', new_text) # remove any non arabic characters
    return new_text

df['Text3'] = df['Text'].apply(textCleaning)

In [ ]:
def clean_text(text):
    new_text = re.sub(r'[^\w\s]', '', text)
    ## for letter repetition
    pattern = re.compile(r"(.)\1{2,}")
    new_text = pattern.sub(r"\1\1", new_text)
    new_text = ' '.join([word for word in new_text.split() if word not in stop])
    return new_text

df['Text3'] = df['Text3'].apply(clean_text)

In [ ]:
df.head()

,Unnamed: 0,id,dialect,Text,Text3
0,0,1175358310087892992,IQ,@Nw8ieJUwaCAAreT لكن بالنهاية .. ينتفض .. يغير .,بالنهاية ينتفض يغير
1,1,1175416117793349632,IQ,@7zNqXP0yrODdRjK يعني هذا محسوب على البشر .. ح...,يعني محسوب البشر حيونه ووحشيه وتطلبون الغرب يح...
2,2,1175450108898565888,IQ,@KanaanRema مبين من كلامه خليجي,مبين كلامه خليجي
3,3,1175471073770573824,IQ,@HAIDER76128900 يسلملي مرورك وروحك الحلوه💐,يسلملي مرورك وروحك الحلوه
4,4,1175496913145217024,IQ,@hmo2406 وين هل الغيبه اخ محمد 🌸🌺,وين الغيبه اخ محمد

In [ ]:
df.drop(columns=['Text','Unnamed: 0'],inplace=True)

In [ ]:
df.head()

,id,dialect,Text3
0,1175358310087892992,IQ,بالنهاية ينتفض يغير
1,1175416117793349632,IQ,يعني محسوب البشر حيونه ووحشيه وتطلبون الغرب يح...
2,1175450108898565888,IQ,مبين كلامه خليجي
3,1175471073770573824,IQ,يسلملي مرورك وروحك الحلوه
4,1175496913145217024,IQ,وين الغيبه اخ محمد

In [ ]:
df.to_csv("final_dataset.csv",index=False)